asyncpg>=0.30,<1
fastapi>=0.115,<1
minio>=7.2,<8
nats-py==2.15.0
pydantic-settings>=2.7,<3
qdrant-client>=1.13,<2
redis[hiredis]>=5,<7
sqlalchemy[asyncio]>=2.0.36,<3
uvicorn[standard]>=0.34,<1

#Testing
pytest>=8,<10
pytest-asyncio>=0.24,<2
